{% extends "base.html" %}
{% load static %}

{% block title %} - Create Listing{% endblock %}

{% block content %}
<div class="container mt-4 mb-5"> 
  <h1 class="mb-4">Create a Listing</h1>

  <form method="post" enctype="multipart/form-data" class="create-item-form">
    {% csrf_token %}

    {{ form.as_p }}

    <h4 class="mt-4">Upload Images</h4>
    <input type="file" name="images" id="id_images" multiple>

    <div class="new-image-preview mt-3 mb-4">
      <img id="image-preview" src="" alt="Image preview">
    </div>

    <div class="d-flex flex-wrap gap-2">
      <a href="{% url 'user_profile' %}" class="btn btn-outline-secondary">
        <span class="icon">
          <i class="fas fa-chevron-left"></i>
      </span>
      <span class="text-uppercase">Go back</span>
      </a>
      <button type="submit" class="btn btn-outline-primary">
        CREATE LISTING
        <span class="icon">
          <i class="fas fa-square-plus"></i>
      </span>
      </button>
    </div>
  </form>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'items/image_preview.js' %}"></script>
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'items/create_item.css' %}">
{% endblock %}
