<form class="form update-form" method="POST" action="{% url 'adjust_bag' item.item_id %}">
    {% csrf_token %}
    <div class="form-group">
        <div class="input-group input-group-{{ item.item_id }}">

            <div class="mb-3">
                <label for="start-date-{{ item.item_id }}" class="form-label">Start Date:</label>
                <div class="input-group" id="start-date-picker-{{ item.item_id }}" data-td-target-input="nearest"
                     data-td-target-toggle="nearest">
                    <input id="start-date-{{ item.item_id }}" name="start_date" type="text"
                           class="form-control start-date" data-td-target="#start-date-picker-{{ item.item_id }}"
                           value="{{ item.start_date|default_if_none:'' }}">
                    <span class="input-group-text" data-td-target="#start-date-picker-{{ item.item_id }}"
                          data-td-toggle="datetimepicker">
                        <i class="fa fa-calendar"></i>
                    </span>
                </div>
            </div>

            <div class="mb-3">
                <label for="end-date-{{ item.item_id }}" class="form-label">End Date:</label>
                <div class="input-group" id="end-date-picker-{{ item.item_id }}" data-td-target-input="nearest"
                     data-td-target-toggle="nearest">
                    <input id="end-date-{{ item.item_id }}" name="end_date" type="text"
                           class="form-control end-date" data-td-target="#end-date-picker-{{ item.item_id }}"
                           value="{{ item.end_date|default_if_none:'' }}">
                    <span class="input-group-text" data-td-target="#end-date-picker-{{ item.item_id }}"
                          data-td-toggle="datetimepicker">
                        <i class="fa fa-calendar"></i>
                    </span>
                </div>
            </div>

            {% if item.product.has_sizes %}
            <input type="hidden" name="product_size" value="{{ item.size }}">
            {% endif %}
        </div>
    </div>
</form>

<a class="update-link text-info" data-item-id="{{ item.item_id }}"><small>Update</small></a>

<a class="remove-item text-danger float-end"
   data-item_id="{{ item.item_id }}" data-product_size="{{ item.size }}">
   <small>Remove</small>
</a>
