{% load static %}

{% if item.product.images.all|length %}
{% with unique=item.item_id|default:forloop.counter %}
{% with cid="miniCarousel-"|add:item.product.id|stringformat:"s"|add:"-"|add:unique|stringformat:"s" %}
<div class="product-card carousel">
    <div id="{{ cid }}" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner bag-carousel-inner">
            {% for img in item.product.images.all %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <img src="{{ img.image.url }}" alt="{{ item.product.name }}" class="d-block w-100 bag-carousel-img">
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endwith %}
{% endwith %}
{% else %}
<img src="{{ MEDIA_URL }}noimage.png" alt="No image" class="img-fluid bag-carousel-img">
{% endif %}
