{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
{% endblock %}


{% block title %} -Home{% endblock %}

{% block content %}

<!-- Hero Carousel Section -->
<div id="carouselExampleIndicators" class="carousel slide custom-carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'images/dj.webp' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="{% static 'images/dslr.webp' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="{% static 'images/projector.webp' %}" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<!-- NEW ITEMS ADDITION CARDs-->
<div class="container mt-2">
    <h1>Recently added items:</h1>
</div>
<div class="card-container">
    <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam minima eveniet
                rerum, exercitationem inventore vel velit suscipit quo assumenda aperiam repudiandae, sit ea vero
                obcaecati id totam enim maiores provident.</p>
        </div>
    </div>

    <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi debitis esse impedit
                doloremque expedita dolorum, quo ducimus harum veritatis deserunt amet, incidunt iste earum voluptate
                iure consectetur autem error tempore.</p>
        </div>
    </div>

    <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, non voluptatibus magni
                perferendis nam explicabo ad voluptas rerum molestias tenetur illum, eos quis hic ut! Veritatis minus
                perferendis odit quas!</p>
        </div>
    </div>

    <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam maxime, harum,
                reiciendis minima adipisci beatae rerum exercitationem, nesciunt officia mollitia blanditiis ab
                consequatur ex. Sint quaerat nisi laudantium atque nemo.</p>
        </div>
    </div>

    <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis ad nam veritatis
                adipisci soluta molestias. Voluptas ad quo alias molestias neque animi ut fugiat, beatae impedit atque
                corrupti odit libero!</p>
        </div>
    </div>

    <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione quo quod pariatur
                nisi, voluptatibus magni harum dolorum hic explicabo neque. Repudiandae distinctio odit voluptatibus
                fugiat repellat iure eos ipsum quasi?</p>
        </div>
    </div>

    <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat, hic expedita
                corrupti fugit sit consequatur autem error, harum reiciendis, dicta ducimus? At voluptas ipsam vitae
                dolore vel eius porro voluptates!</p>
        </div>
    </div>

    <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus culpa qui,
                exercitationem ipsum laborum quod sapiente odit id tempore voluptatibus, consequuntur dignissimos sint,
                doloremque ipsa labore perspiciatis non vero tempora!</p>
        </div>
    </div>

    <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis ipsam earum
                similique accusamus alias odio culpa soluta expedita dolor ea corporis beatae nulla pariatur deserunt ut
                distinctio tempore, animi voluptatibus.</p>
        </div>
    </div>

    <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus aliquam amet sint
                delectus ipsam minus consectetur hic aperiam! Veritatis dignissimos at voluptate magni soluta veniam
                molestias voluptatum assumenda itaque similique?</p>
        </div>
    </div>

</div>

<script src="{% static 'js/card_index.js' %}"></script>


{% endblock %}