@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Deca:wght@100..900&display=swap');

:root {
    /* Font Families */
    --title: 'Lexend Deca', Arial, sans-serif;
    --body: 'Inter', Arial, sans-serif;

    /* Colors */

    /* Google Blue */
    --primary: #0348B0;
    /* Google Light Blue */
    --secondary: #e8f0fe;
    /* Dark Text */
    --text: #202124;
    /* White Background */
    --background: #ffffff;
    /* Light Border */
    --border: #b6c6e6;
    /* Light Hover Effect */
    --hover: #aecbda;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: var(--body);
    font-weight: 500;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--title);
    margin: 0.5rem 0;
}

/* Navbar */
.navbar {
    background-color: var(--secondary);
    border-bottom: 1px solid var(--border);
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Navbar search */
form.d-flex .form-control {
    border-radius: 0;
}

form.d-flex .btn {
    border-radius: 0;
    border-color: var(--primary);
    color: var(--primary);
}

form.d-flex .btn:hover {
    background-color: var(--hover);
    border-color: var(--hover);
    color: var(--background);
    transition: all 0.3s ease-in-out;
}

/* General button styling */
.btn.btn-outline-primary {
    border-radius: 0;
    border-color: var(--primary);
    color: var(--primary);
}

.btn.btn-outline-primary:hover {
    background-color: var(--hover);
    border-color: var(--hover);
    color: var(--background);
    transition: all 0.3s ease-in-out;
}

/* Footer */

main {
    flex: 1;
}

footer {
    background-color: var(--secondary);
    border-top: 1px solid var(--border);
    padding: 1rem 0;
    text-align: center;
    font-family: var(--title);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.social-icons {
    margin-bottom: 0.5rem;
}

.social-icon {
    font-size: 1.5rem;
    margin: 0 10px;
    color: var(--text);
    text-decoration: none;
    transition: color 0.3s;
}

.social-icon:hover {
    color: var(--primary);
}

/* Carousel */
.custom-carousel {
    height: 400px;
    overflow: hidden;
}

.custom-carousel .carousel-inner,
.custom-carousel .carousel-item,
.custom-carousel img {
    height: 100%;
}

.custom-carousel img {
    object-fit: cover;
}

/* Card Layout */
.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    padding: 1rem;
    cursor: pointer;
}

.card {
    width: 18rem;
    flex: 1 0 calc(20% - 1rem);
    box-sizing: border-box;
}

.product-card-link {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    transition: transform 0.2s;
}

.product-card .card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.product-card-link:hover .product-card {
    transform: translateY(-4px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

/* Image Preview */
#image-preview {
    max-width: 200px;
    margin-top: 10px;
    display: none;
    border: 1px solid #ddd;
    padding: 2px;
    border-radius: 4px;
}

#image-preview.show {
    display: block;
}

/* Icon */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.terms-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}
.terms-container h1 {
    text-align: center;
}

.signup-card {
    background-color: var(--secondary);
    border: 1px solid var(--border);
}

.signup-title {
    color: var(--text);
    font-family: var(--title);
}

.signup-subtext {
    color: var(--text);
    font-family: var(--body);
}

.signup-link {
    color: var(--primary);
    text-decoration: underline;
}


/* Responsiveness */
@media (max-width: 1200px) {
    .card {
        flex: 1 0 calc(33.33% - 1rem);
    }
}

@media (max-width: 768px) {
    .card {
        flex: 1 0 calc(50% - 1rem);
    }
}


@media (max-width: 576px) {
    .card {
        flex: 1 0 100%;
    }

    .custom-carousel,
    .custom-carousel img {
        height: 200px;
    }

    .dropdown-menu {
        border-radius: 0;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    }

    .form-control,
    .btn {
        font-size: 0.9rem;
    }
}