@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Deca:wght@100..900&display=swap');

:root {
    /* Font Families */
    --title: 'Lexend Deca', Arial, sans-serif;
    --body: 'Inter', Arial, sans-serif;

    /* Colors */
    --primary: #1a73e8; /* Google Blue */
    --secondary: #e8f0fe; /* Light Google Blue */
    --text: #202124; /* Dark Text */
    --background: #ffffff; /* White Background */
    --border: #b6c6e6; /* Light Border */
    --hover: #aecbda; /* Light Hover Effect */


}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: var(--body);
    font-weight: 500;
}

/* Footer */

footer {
    background-color: var(--secondary);
    border-top: var(--border);
    padding: 1rem 0;
    text-align: center;
    font-family: var(--title);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .social-icons {
    margin-bottom: 0.5rem;
  }
  
  .social-icon {
    font-size: 1.5rem;
    margin: 0 10px;
    color: var(--text);
    transition: color 0.3s;
    text-decoration: none;
  }
  
  .social-icon:hover {
    color: var(--primary);
  }
  
/* Custom-carousel CSS for styling carousel */

  .custom-carousel {
    height: 400px; /* To adjusting height of the images */
    overflow: hidden;
  }
  
  .custom-carousel .carousel-inner,
  .custom-carousel .carousel-item,
  .custom-carousel img {
    height: 100%;
  }
  
  .custom-carousel img {
    object-fit: cover;
  }