{% extends "account/base.html" %}
{% load static %}
{% load allauth i18n %}

{% block head_title %}
{% trans "Sign Out" %}
{% endblock head_title %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5 mb-5">
        <div class="col-lg-6 col-md-8 col-sm-12 p-5 shadow-sm rounded-0 signup-card">

            <h1 class="fw-bold mb-3 text-center fs-1 signup-title">
                {% trans "Sign Out" %}
            </h1>

            <p class="text-center mb-4 fs-5 signup-subtext">
                {% trans "Are you sure you want to sign out?" %}
            </p>

            {% url 'account_logout' as action_url %}
            {% element form method="post" action=action_url no_visible_fields=True %}
            {% slot body %}
            {% csrf_token %}
            {{ redirect_field }}
            {% endslot %}
            {% slot actions %}
            <div class="d-grid">
                <button type="submit" class="btn btn-outline-primary btn-lg text-uppercase fw-bold py-2">
                    {% trans "Sign Out" %}
                </button>
            </div>
            {% endslot %}
            {% endelement %}
        </div>
    </div>
</div>
{% endblock content %}