{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load allauth %}

{% block head_title %}
{% trans "Set Password" %}
{% endblock head_title %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5 mb-5">
        <div class="col-lg-6 col-md-8 col-sm-12 p-5 shadow-sm rounded-0 signup-card">

            <h1 class="fw-bold mb-3 text-center fs-1 signup-title">
                {% trans "Set Password" %}
            </h1>

            {% url 'account_set_password' as action_url %}
            {% element form method="post" action=action_url %}
            {% slot body %}
            {% csrf_token %}
            {{ redirect_field }}
            {% element fields form=form %}
            {% endelement %}
            {% endslot %}
            {% slot actions %}
            <div class="d-grid mb-4">
                <button type="submit" name="action"
                    class="btn btn-primary btn-lg text-uppercase fw-bold py-2 rounded-0">
                    {% trans 'Set Password' %}
                </button>
            </div>
            {% endslot %}
            {% endelement %}

        </div>
    </div>
</div>
{% endblock content %}