{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Custom 404 page -->
<div class="d-flex flex-column align-items-center text-center my-5" role="region" aria-label="404 error page">
    <h1 aria-label="404 error heading">404 - The page you’re looking for doesn’t exist.</h1>
    <p aria-label="Instructions to return to homepage">Please click the button below to return to the homepage.</p>

    <!-- Go Back Button -->
    <div class="d-flex flex-wrap gap-2 mt-3">
        <a href="{% url 'index' %}" class="btn btn-outline-secondary" aria-label="Go back to homepage">
            <span class="icon">
                <i class="fas fa-chevron-left" aria-hidden="true"></i>
            </span>
            <span class="text-uppercase">Go back</span>
        </a>
    </div>
</div>
{% endblock %}
