{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSRF Token for AJAX -->
    <meta name="csrf-token" content="{{ csrf_token }}">


    <!-- SEO -->
    <meta name="description" content="RentIt - Your go-to platform for renting everything you need.">
    <meta name="keywords" content="rent, rental, services, products, RentIt">
    <meta name="author" content="RentIt Team">

    <!-- Favicons -->
    <link rel="icon" type="image/x-icon" href="{% static 'images/fav16x16.ico' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/fav32x32.ico' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'images/fav60x60.ico' %}">

    <!-- CSS: Bootstrap first Tempus Dominus CSS second, then my custom -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
        integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/gh/Eonasdan/tempus-dominus@v6.7.7/dist/css/tempus-dominus.min.css"
        rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/base.css' %}">


    {% block corejs %}
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/369ae4821b.js" crossorigin="anonymous"></script>
    <!-- Font Awesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
        integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    <!-- Title -->
    <title>RentIt | Your Extra Income{% block title %}{% endblock %}</title>
</head>


<body>
    <!-- HEADER / NAV BAR -->
    {% include 'includes/header.html' %}
    <!-- Mobile Header -->
    {% include 'includes/mobile_header.html' %}

    <!-- MAIN CONTENT -->
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <!-- FOOTER SECTION -->
    {% include 'includes/footer.html' %}
    {% block onload_js %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/Eonasdan/tempus-dominus@v6.7.7/dist/js/tempus-dominus.min.js"></script>
    {% endblock %}
</body>

</html>